# Чувствительные данные
.env

# Временные файлы и кэш
__pycache__/
*.pyc
.ipynb_checkpoints/

# Папки IDE (по необходимости)
.idea/
.vscode/

# Данные (если не хотите хранить датасеты в репозитории)
*.csv
